* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: teal;
}
.btn {
  margin: 15px;
  border-width: 2px;
  border-color: whitesmoke rgb(180, 180, 180) rgb(180, 180, 180) whitesmoke;
}
.btn:active {
  transform: translateY(4px);
}
ul {
  margin: 30px;
  list-style-type: none;
}
#userInfo {
  color: #39ff14;
  background: black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 568px;
  margin: 14px;
  border: ridge 2px whitesmoke;
  overflow-y: scroll;
  height: 400px;
}
.card,
.list-group-item {
  background: transparent;
}
