* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: beige;
}
.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
